# IntelliJ IDEA
.idea/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db